TestProjectClient/src/conf/xml-resources/web-service-references/NewWebService_3/wsdl/localhost_8080/TestProject/NewWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webService/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webService/" name="NewWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://webService/" schemaLocation="http://localhost:8080/TestProject/NewWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="setTimer">
<part name="parameters" element="tns:setTimer"/>
</message>
<message name="setTimerResponse">
<part name="parameters" element="tns:setTimerResponse"/>
</message>
<message name="checkGmail">
<part name="parameters" element="tns:checkGmail"/>
</message>
<message name="checkGmailResponse">
<part name="parameters" element="tns:checkGmailResponse"/>
</message>
<message name="MessagingException">
<part name="fault" element="tns:MessagingException"/>
</message>
<message name="IOException">
<part name="fault" element="tns:IOException"/>
</message>
<portType name="NewWebService">
<operation name="hello">
<input wsam:Action="http://webService/NewWebService/helloRequest" message="tns:hello"/>
<output wsam:Action="http://webService/NewWebService/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="setTimer">
<input wsam:Action="http://webService/NewWebService/setTimerRequest" message="tns:setTimer"/>
<output wsam:Action="http://webService/NewWebService/setTimerResponse" message="tns:setTimerResponse"/>
</operation>
<operation name="checkGmail">
<input wsam:Action="http://webService/NewWebService/checkGmailRequest" message="tns:checkGmail"/>
<output wsam:Action="http://webService/NewWebService/checkGmailResponse" message="tns:checkGmailResponse"/>
<fault message="tns:MessagingException" name="MessagingException" wsam:Action="http://webService/NewWebService/checkGmail/Fault/MessagingException"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://webService/NewWebService/checkGmail/Fault/IOException"/>
</operation>
</portType>
<binding name="NewWebServicePortBinding" type="tns:NewWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="setTimer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="checkGmail">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="MessagingException">
<soap:fault name="MessagingException" use="literal"/>
</fault>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
</operation>
</binding>
<service name="NewWebService">
<port name="NewWebServicePort" binding="tns:NewWebServicePortBinding">
<soap:address location="http://localhost:8080/TestProject/NewWebService"/>
</port>
</service>
</definitions>